################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/PayBook/bin/Debug
/PayBook.Bootstrapper/bin/Debug
/PayBook/obj/Debug
/PayBook.Bootstrapper/obj/Debug
/PayBook.Core/bin/Debug
/PayBook.Core/obj/Debug
/PayBook.DataAccess/bin/Debug
/PayBook.DataAccess/obj/Debug
/PayBook.Database/bin/Debug
/PayBook.Database/obj/Debug
/PayBook.Model/bin/Debug
/PayBook.Model/obj/Debug
/PayBook.Setup/bin/Debug
/PayBook.Setup/obj/Debug
/PayBook.Test/bin/Debug
/PayBook.Test/obj/Debug
/PayBook.WpfClient/bin/Debug
/PayBook.WebApplication/bin
/PayBook.WebApiAgent/bin/Debug
/PayBook.ViewModels/bin/Debug
/PayBook.ViewModels/obj/Debug
/PayBook.Views/obj/Debug
/PayBook.WebApiAgent/obj/Debug
/PayBook.WebApplication/obj/Debug
